<% if is_params_empty? %>
    <% provide(:title, '論文検索') %>
<% else %>
    <% provide(:title, '検索結果') %>
<% end %>
<div class="page-title">
    <h2><%= yield(:title) %></h2>
</div>
<% if is_params_empty? %>
    <div class="search">
        <%= render 'layouts/search' %>
    </div>
<% else %>
    <% @articles.each do |article| %>
        <div class="elements">
            <h2 class="contents">
                <%= link_to article.title, article_path(article) %>
            </h2>
            <p class="contents"><%= article.abstract %></p>
        </div>
    <% end %>
    <%= will_paginate %>
<% end %>