<% provide(:title, '論文詳細') %>
<div>
	<h2 class="contents">
		<%= @article.title %>
	</h2>
	<div class="floating">
		<h4 class="content-start"><%= @article.author %></h4>
		<h4 class="content"><%= @article.year %></h4>
		<h4 class="content-end"><%= @article.degree %></h4>
	</div>
	<p class="abstract"><%= @article.abstract %></p>
	<h4>
		<%= link_to 'PDFダウンロード', download_path(@article.id), class: "contents" %>
	</h4>
</div>