<% provide(:title, "#{@user.name}さん") %>

<div class="page-title">
    <h2><%= link_to image_tag("icon01.png", alt:"user-default-icon", width: "80px", class: "img-rounded") %></h2>
    <h2><%= yield(:title) %></h2>
</div>
<div class="user-show">
    <!-- <h2><%= @user.name %></h2> -->
    <% if session[:user_id] == @user.id %>
        <h3><%= @user.email %></h3>
        <ul class="edit-destroy">
            <li>
                <%= link_to '編集', edit_user_path(@user) %>
                <%= link_to '削除', user_path(@user) %>
            </li>
        </ul>
    <% end %>
</div>