<nav>
      <div>
          <% if is_logged_in? %>
            <li class="nav-item active">
              <%= link_to yield(:user), user_path(current_user), class: "nav-user nav-hover" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-logout nav-hover" %>
            </li>
            <% if current_user.admin == true %>
              <li class="nav-item active">
                <%= link_to 'new_news_path', new_news_path, class: "nav-link nav-hover" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item disabled">
              <%= link_to 'ユーザーなし', '#', class: "nav-link nav-hover" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログイン', login_path, class: "nav-login nav-hover" %>
            </li>
            <li class="nav-item active">
              <%= link_to '新規登録', new_user_path, class: "nav-login nav-hover" %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to '論文一覧', articles_path, class: "nav-link nav-hover" %>
          </li>
          <li class="nav-item active">
            <%= link_to '論文検索', search_path, class: "nav-link nav-hover" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ユーザー一覧', users_path, class: "nav-link nav-hover" %>
          </li>
      </div>
    </nav>