<nav>
      <div>
          <li class="nav-item active">
            <%= link_to 'トップページ', root_path, class: "nav-link" %>
          </li>
          <% if is_logged_in? %>
            <li class="nav-item active">
              <%= link_to yield(:user), user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item disabled">
              <%= link_to 'ユーザーなし', '#', class: "nav-link disabled" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログイン', login_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to '論文一覧', articles_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to '論文検索', search_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ユーザー一覧', users_path, class: "nav-link" %>
          </li>
      </div>
    </nav>