<%= form_with(url: articles_path, method: :get) do |f|  %>
    <p><%= f.label :degree %></p>
    <p><%= f.text_area :degree %></p>
    <p><%= f.label :keyword %></p>
    <p><%= f.text_area :keyword %></p>
    <p><%= f.label :year %></p>
    <p><%= f.text_area :year %></p>    
    <p><%= f.submit 'search' %></p>
<% end %>