<%= form_with(url: search_path, method: :get) do |f|  %>
    <p><%= f.label :degree %></p>
    <p><%= f.select :degree, [[""], ["bachelor"], ["master"]] %></p>
    <p><%= f.label :keyword %></p>
    <p><%= f.text_field :keyword %></p>
    <p><%= f.label :year %></p>
    <p><%= f.text_field :year %></p>    
    <p><%= f.submit 'search' %></p>
<% end %>